/* font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  /* bg colors */
  --background: #02050e;
  --primary: darkred;
  --secondary: darkgoldenrod;
  --btn-bg: #260505;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #6f0000;

  /* Text colors */
  --text-black: black;;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #9c0c41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Pacifico";
}

/*header*/

/*.logo {
  height: 100%;
}*/
header, .navbar-home{
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #200122, #6f0000);
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px 40px;
  top: 0;
  z-index: 3;
}


.navbar{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-list{
  display: flex;
  list-style: none;
  gap: 20px;
}

.cart-icon{
  height: 1rem;
  cursor: pointer;
  color: white;
}

.cart-bubble {
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: center;
  background: var(--secondary);
  color: white;
  font-size: 10px;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  border-radius: 50%;
}


.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-list a:hover{
  color: var(--nav-bg);
}

.menu-label{
  color: var(--fire);
  font-size: 18px;
  display: none;
}

#menu-toggle {
  display: none;
}

#cart-toggle{
  display: none;
}

/*carrito*/
.cartmenu{
  display: none;
  /* display: flex; */
  position: absolute;
  max-width: 100%;
  top: 70px;
  right: 0;
  flex-direction: column;
  background-color: var(--nav-bg);
  border-left: 1px solid var(--fire);
  border-bottom: 1px solid var(--fire);
  border-radius: 0 0 0 1rem;
  box-shadow: var(--electric) -8px 8px 30px 0 ;
  padding: 20px;
  gap: 10px;
  z-index: 2;
  overflow-y: auto;
  max-height: 70vh;


}

.cartmenu h2{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: var(--fire);
}

.cart-selection{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.empty-msg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px ;
  gap: 10px;
  border-radius: 1rem;
  border: 1px solid var(--fire);
  font-size: 18px;
  color: var(--nav-bg);
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px ;
  gap: 10px;
  border-radius: 1rem;
  border: 1px solid var(--btn-bg);
}

.cart-item img{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart-item-info h4{
  color: var(--btn-bg);
  font-size: 14px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item-info p{
  font-size: 14px;
}


.quantity{
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.minus,
.plus,
.qty {
  font-size: 10px;
  border: 1px solid  var(--nav-bg);
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 var(--fire);
}

.cart-line{
  background: var(--fire);
  height: 1px;
  width: 100%;
}

.cart-total{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: var(--mediumpurple);
  font-size: 20px;
}


.cart-buttons{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 5px;
  
}

.chekout-btn,
.clear-btn {
  color: white;
  border-radius: 10px;
  background: var(--fire);
  border: 1px solid var(--btn-bg);
  box-shadow: 2px 2px 0 0 var(--fire);
  cursor: pointer;
  padding: 5px;
  font-weight: 500;
}

.disabled {
  background-color: rgb(222, 222, 222);
  cursor: not-allowed;
  border: 1px solid rgb(188, 188, 188);
  box-shadow: 2px 2px 0 0 rgb(188, 188, 188);
}

.disabled:hover {
  background-color: rgb(222, 222, 222);
  cursor: not-allowed;
}


.open-cart {
  display: flex;
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.overlay{
  position: absolute;
  top:70px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: none;
}  

.show-overlay{
display: flex;
}

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/*Hero*/
#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px; 
  font-weight: 800;
  background: linear-gradient(to right, #200122, #6f0000);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.hero-info p {
  font-size: 20px;
  width: 70%;
  color: var(--secondary);
}

.hero-info p > span {
  font-weight: 800;
}


.hero-card {
  width: 300px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hero-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-top span {
  background-color: var(--primary);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}


.creator-info p:first-child,
.hero-card-price p {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 300px;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
  font-size: 14px;
}

.hero-card-price span {
  font-weight: 700;
}


/* Info o Discover Section */
#info {
  padding: 70px 0;
  max-width: 1200px;
}

.info-text {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

#info h2 {
  color: var(--nav-bg);
  font-size: 40px;
  width: 45%;
  font-weight: 800;
}

/*.info-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}*/

.info-text p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-gray);
}
.info-text a {
  color: var(--text-white);
  font-weight: 600;
  text-decoration: underline;
}


/* Products Section */
#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
}

#products h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

/* categories */
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
  background: var(--btn-bg);
  border: none;
  padding: 10px 15px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: var(--primary);
}

/* products */
#store{
  width: 100%;
  height: auto;
  padding: 60px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.storetitle{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storetitle h2{
  font-size: 32px;
  font-weight: 800;
  color: var(--secondary);
  text-align: center;
}


.store-filter{
  display: flex;
  gap: 10px;
}

.category{
font-size: 18px;
padding: 5px 10px;
border-radius: 10px;
background-color: var(--btn-bg);
color: white;
font-weight: 400;
border: none;
box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
-webkit-box-shadow: 8px 8px 10px -8pxr rgba(253, 199, 4, 0.75);
-moz-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
}

.hoverbtn:hover  {
  box-shadow: rgba(241, 121, 121, 0.5) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.5) 0px 18px 36px -18px inset;
}

.active {
  background-color: var(--primary);
  font-weight: 500;
}

.store-products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  gap: 30px;
  height: fit-content;
}

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 350px;
  gap: 10px;
  padding: 35px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 10px 2px rgba(241, 236, 198, 0.4);
}


.product-card img{
/* width: 100%; */
max-height: 150px;
}

.name{
  font-size: 20px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 600;
  color: var(--secondary);
}

.price{
  font-size: 18px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 400;
  color: var(--secondary);

}

.add-btn{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--fire);
  color: white;
  font-weight: 400;
  border: none;
  box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -moz-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  }

.show-more-btn {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: white;
  font-weight: 400;
  border: none;
  box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -moz-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  }

  /*-------- CONTACT --------*/
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  background: linear-gradient(to right, #200122, #6f0000);
}

.contact-container{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-container img{
max-width: 30%;
}

.form  {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  min-width: 300px;
  max-width: 450px;
}

.form ::placeholder {
  color: var(--btn-bg);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}



.form input[type=text],
input[type=email]{
  border: 1px solid var(--fire);
  border-radius: 1rem;
  font-size: 18px;
  padding: 10px;
  color: var(--secondary);
  padding: 10px;
  font-size: 18px;
}

.form textarea{
  border: 1px solid var(--fire);
  border-radius: 1rem;
  background-color: white;
  max-height: 35%;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}


.submit-btn{
  width: fit-content;
  align-self: center;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary);
  font-weight: 400;
  border: none;
  box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  -moz-box-shadow: 8px 8px 10px -8px rgba(253, 199, 4, 0.75);
  }

#form-message{
  text-align: center;
  color: white;
  font-family: fredoka, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 10px;
}

.hidden{
  display: none;
}

/* footer */
footer {
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(207,174,25,1) 48%, rgba(255,214,0,1) 100%);
  color: var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}

footer img{
  max-width: 10%;
  cursor: pointer;
}

footer a,
footer p {
  color: var(--primary);
  font-weight: 300;
  font-size: 14px;
}

footer span {
  font-weight: 800;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none;
}

.disabled {
  background-color: var(--text-black);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--text-black);
  color: white;
  cursor: not-allowed;
  border: none;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
