/* font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  /* bg colors */
  --background: #02050e;
  --primary: darkred;
  --secondary: darkgoldenrod;
  --btn-bg: #260505;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #6f0000;

  /* Text colors */
  --text-black: black;;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #9c0c41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Pacifico";
}
body {
    width: 100%;
    background-image: url(./img/te-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
  }

.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    background:  rgba(139, 0, 0, 0.5);
}

.titulo-formulario{
    text-align: center;
    margin-top: 0;
    color: var(--secondary);
}

.formulario-input, .formulario-label, .formulario-submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario-input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.formulario-input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);
}

.formulario-input:focus + .formulario-label{
    margin-top: -153px;
}

.formulario-label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgb(184, 134, 11,);
    transition: all 0.2s;
}

.formulario-submit{
    background: rgb(184, 134, 11,);
    color: var(--text-black);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -153px;
}